main {
    /* padding: 150px; */
}

h3 {
    text-align: center;
}

.slate.welcome {
    width: 444px;
    margin-top: 100px;
}

.bar {
    display: flex;
    justify-content: space-between;
    padding: 2.5px 40px;
    margin-top: 10px;
    width: calc(100% - 80px);
}

#gify-pet-window {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gify-pet-window iframe {
    border: 1px solid black;
    height: 321px;
    box-shadow: 7px 7px 0px black;
}

#button-container {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

#button-container img {
    image-rendering: pixelated;
}

.visitor-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-wrap: nowrap;
    margin-top: 1rem;
}